numpy
pandas
matplotlib
Pillow
scikit-learn
tqdm

opencv-python-headless
albumentations

torch
torchvision
git+https://github.com/facebookresearch/segment-anything.git

mlflow
databricks-sdk
python-dotenv
pyyaml
